<form action="/notes" method="post" class="form" id="formForEdit">
    <input name="title" placeholder="Title" id="editTitle" />
    <textarea name="content" placeholder="Take a note..." id="editContent" rows="3"></textarea>
    <input type="hidden" id="hiddenEditId" name="idToEdit">
    <button name="btn" value="submitNote" type="submit" id="editBtn">Add</button>
</form>